@import url("https://fontsapi.zeoseven.com/22/main/result.css");
@import url("https://fontsapi.zeoseven.com/16/main/result.css");
@import url("https://fontsapi.zeoseven.com/84/main/result.css");
.font-default {
    font-family: "Arial", "Helvetica", sans-serif;
    /* font-weight: normal; */
}
.font-zhisong {
    font-family: "LXGW Neo ZhiSong";
    /* font-weight: normal; */
}
@font-face {
    font-family: "ZSFT-cb";
    src: url("https://fontsapi.zeoseven.com/cb/main.woff2") format("woff2"),
        url("https://fontsapi-storage.zeoseven.com/cb/main.woff2") format("woff2");
    font-display: swap;
}

.font-digital {
    font-family: "ZSFT-cb";
    font-weight: normal;
}

.font-yufanxinyu {
    font-family: "YuFanXinYu";
    /* font-weight: normal; */
}

.font-douyinsans {
    font-family: "DouyinSans";
    font-weight: normal;
}